DB_USER=postgres
DB_PASSWORD=postgres
DB_DATABASE=ai-admin
DB_HOST=localhost
DB_PORT=5432
DB_DIALECT=postgres

JWT_SECRET=d6b1d32b-08d5-4d69-90ad-def4b2be3f2e
JWT_EXPIRY=3600s

PUBLIC_FILES_STORAGE=storage/

CONVERSATIONS_FOLDER_PATH=conversations/
CONVERSATIONS_METADATA_FOLDER_PATH=conversations-metadata/

OPENROUTER_API_KEY=